<style>
    .success {
        background-color: greenyellow;
        border-radius: 10px;
        margin-top: 1rem;
    }

    .close {
        overflow: hidden;
        position: relative;
        border: none;
        padding: 0;
        border-radius: 50%;
        background: transparent;
        color: black;
        font: inherit;
        text-indent: 100%;
        cursor: pointer;
        margin-left: 5px;
        user-select: none;
    }

    .success > p {
        text-align: center;
        font-size: 1rem;
        white-space: initial;
    }
</style>
<div class="success">
    <span class="close" onclick="this.parentElement.remove()">&times</span>
    <p>{{.Message}}</p>
</div>